/* styling background */
body{
    background-color: rgb(33, 33, 33);
    color: 3a5a40;
    margin: auto;
}

header {
    text-align: center;
    margin: 00.5rem;
}

.shape {
    font-weight: 500;
    display: none;
    /* making positin sticky so that it does not skip the frame */
    position: sticky; 
    left: 20%;
    top: 40%;
    border: 1px;
    border-radius: 5%;
    height: 8%;
    width: 8%;
    /* animates when changes the position */
    transition: all 500ms ease;
}

.frame {
    background-color: rgb(16, 16, 16);
}


/* styling start and Reset buttons */
.btn * {
    background-color: 344e41;
    border-radius: 2px;
    border: none;
}